:root {
    --max-width-layout: 960px;
    --header-size: 80px;
    --footer-size: 60px;
    
    --space-xs: 4px;
    --space-s: 8px;
    --space-base: 16px;
    --space-m: 20px;
    --space-m: 24px;
    --space-l: 28px;
    --space-xl: 32px;

    --font-size-xs: 10px;
    --font-size-s: 12px;
    --font-size-base: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 46px;

    --color-primary: #3a9dff;

    --font-weight-light: 300;
    --font-weight-bold: 600;

    --base-text-color: #718096;
    --bg-color: #F8F8F8;
}